h1,
p {
  font-family: Lato;
}
div {
  background: white;
}
p {
  margin: 10px;
}
.hello {
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  background: white;
  margin: 5px;
}
@media only screen and (max-width: 600px) {
  .hello {
    flex-direction: row;
  }
}
#helloo{
  color: black;
}